body {
	background-color: whitesmoke;
	font-family: Arial, Helvetica, sans-serif;

}

h1 {
  	color: black;
	font-size: 6vw;
}

h2 {
	text-align: center;
}

h3 {
	color:black
}

.writing {
	padding-left: 15px;
	padding-right: 15px;
}

ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: #333;
	border-radius: 5px;
  }
  
li {
	float: left;
}

li a {
	display: block;
	color: white;
	text-align: center;
	padding: 15px 10px;
	text-decoration: none;

}

li a:hover:not(.active) {
	background-color: #111;
}

.active {
	background-color: #369200;
}

p {
  	color: black;
}

.speciesSelector {
	position: relative;
	font-family: Arial;
	background: white;
}

.newMapButton {
	cursor: pointer;
}


footer {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 80%;
	color: gray;
	text-align-last: center;
}